{% extends 'base_generic.html' %}

{% block content %}
  <h1>{{ formula.name }}</h1>
  <p>{{ formula.description }}</p>
  <table>
    <tr>
      <th>Ingredient</th>
      <th>Amount</th>
      <th>Unit</th>
    </tr>
    {% for formulaingredient in formulaingredient_list %}
    <tr>
      <td>{{ formulaingredient.collection_ingredient.ingredient.common_name }}</td>
      <td>{{ formulaingredient.amount }}</td>
      <td>{{ formulaingredient.unit }}</td>
    </tr>
    {% endfor %}
  </table>
  <a href="{% url 'formulae:formula_edit' formula.id %}">Edit</a>
{% endblock %}