{% extends 'basic.html' %}
{% load compress %}
{% load static %}
{% block content %}
<h1 class ='big-header'>FORMULATE</h1>
<div id="app">

    <div id="sidebar">
        <h2 id="formula-header">My Formulae</h2>
        <!-- The list of formulae will be loaded here by formulae_list.js-->
    </div>

    <div id="main-content">
      <!-- The selected formula will be loaded here. the purview of edit and detail js -->
    </div>
</div>
    
{% compress js %}
    <script src="{% static 'assets/utils.js' %}"></script>
    <script src="{% static 'formulae/formulae_list.js' %}"></script>
    <script src="{% static 'formulae/formula_detail.js' %}"></script>
    <script src="{% static 'formulae/formula_edit.js' %}"></script>
    <script src="{% static 'formulae/formula_edit_post.js' %}"></script>
{% endcompress %}
{% endblock %}
