:root {
    --browse-primary-color: #6A752F;
    --browse-secondary-color: #C1CA94;
    --browse-text-color: #2B3303;
    --browse-border-color: #414B11;
    --browse-bg-color: rgba(200, 200, 110, 0.5);
    --browse-hover-bg-color: rgba(117, 103, 47, 0.5);
    --browse-search-bg-color: rgba(54, 64, 4, 0.1);
    --collection-primary-color: #8A544E;
    --collection-secondary-color: #FFC1BA;
    --collection-text-color: #35302F;
    --collection-border-color: #35302F;
    --collection-bg-color: rgba(255, 193, 186, 0.5);
    --collection-hover-bg-color: rgba(138, 84, 78, 0.5);
    --collection-search-bg-color: rgba(53, 48, 47, 0.1);
    --formula-primary-color: #4B5A6A;
    --formula-secondary-color: #91A8C0;
    --formula-text-color: #393C41;
    --formula-border-color: #393C41;
    --formula-bg-color: #C0AF91;
    --formula-hover-bg-color: #EBD38A;
    --formula-search-bg-color: rgba(47, 50, 63, 0.1);
    --formula-delete-color: #C04B4B;
}

/* Path: main_project/static/assets/css/variables.css */
