/* css for browse table */

.table-container #ingredients-table {
    border: 1px solid var(--bs-border-color);
    max-width: 90%;
    width: 100%;
    margin: 0 auto;
    border-collapse: separate; /* Change this line */
    border-spacing: 0; /* Add this line */
    border-radius: 10px;
    background-color: var(--browse-bg-color);
}

.table-container #ingredients-table th {
    background-color: var(--browse-primary-color);
    height: 50px;
}

.table-container #ingredients-table th,
.table-container #ingredients-table td {
    color: var(--browse-text-color);
    padding: 10px;
}

.table-container #ingredients-table th, #ingredients-table td {
    width: 12.5%;
    text-align: center;
}

.table-container #ingredients-table th:not(:last-child),
.table-container #ingredients-table td:not(:last-child) {
    border-right: 1px solid var(--browse-border-color);
}

.table-container #ingredients-table tr:not(:last-child) th,
.table-container #ingredients-table tr:not(:last-child) td {
    border-bottom: 1px solid var(--browse-border-color);
}

.table-container #ingredients-table th:first-child,
.table-container #ingredients-table td:first-child {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.table-container #ingredients-table th:last-child,
.table-container #ingredients-table td:last-child {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.table-container #ingredients-table tr:last-child td:first-child {
    border-bottom-left-radius: 10px;
}

.table-container #ingredients-table tr:last-child td:last-child {
    border-bottom-right-radius: 10px;
}

.table-container #ingredients-table,
.table-container #ingredients-table th:not(:last-child),
.table-container #ingredients-table td:not(:last-child),
.table-container #ingredients-table tr:not(:last-child) th,
.table-container #ingredients-table tr:not(:last-child) td {
    border-color: var(--browse-border-color);
}