/* css for collect table */
#collection-table td.editing {
    padding: 5px;
    background: var(--collection-primary-color);

}

#collection-table td.editing .btn {
    text-align: center;
    height: 50px !important;
    width: 100% !important;
    padding-bottom: 10px !important;
}

#collection-table th.minimise-width {
    width: 2%;
}

#collection-table th.maximise-width {
    width: 40%;
}

#collection-table .collection-input {
    height: auto;
    box-sizing: border-box;
    min-height: 50px;
    max-width: 90%;
    border: 1px solid var(--collection-border-color);
    border-radius: 10px;
    background-color: var(--collection-secondary-color);
    color: var(--collection-text-color);
}


#collection-table {
    border: 1px solid var(--collection-border-color);
    max-width: 90%;
    width: 100%;
    margin: 0 auto;
    border-collapse: separate; /* Change this line */
    border-spacing: 0; /* Add this line */
    border-radius: 10px;
    background-color: var(--collection-bg-color);
    text-color: var(--collection-text-color);
    text-align: center;
}

#collection-table th {
    background-color: var(--collection-primary-color);
    height: 50px;
}

#collection-table th,
#collection-table td {
    color: var(--collection-text-color);
    padding: 10px;
}

#collection-table th, #collection-table td {
    width: 12.5%;
    text-align: center;
}

#collection-table th:not(:last-child),
#collection-table td:not(:last-child) {
    border-right: 1px solid var(--collection-border-color);
}

#collection-table tr:not(:last-child) th,
#collection-table tr:not(:last-child) td {
    border-bottom: 1px solid var(--collection-border-color);
}

#collection-table th:first-child,
#collection-table td:first-child {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

#collection-table th:last-child,
#collection-table td:last-child {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

#collection-table tr:last-child td:first-child {
    border-bottom-left-radius: 0;
}

#collection-table td:last-child {
    background: var(--collection-primary-color);
}

#collection-table tr:last-child td:last-child {
    border-bottom-right-radius: 10px;
}

#collection-table,
#collection-table th:not(:last-child),
#collection-table td:not(:last-child),
#collection-table tr:not(:last-child) th,
#collection-table tr:not(:last-child) td {
    border-color: var(--collection-border-color);
}
