{% extends "basic.html"%}
{% load static %}
{% load compress %}
{% block content %}
    <div class = "tools collection">
        <button class="btn btn-primary" id="add-button" type="button">Add</button>
        <button class="btn btn-primary" id="filter-button" type="button">Filter</button>
    <button class="btn btn-primary" id="next-page" type="button" >Next Page</button>
<button class="btn btn-primary" id="prev-page"  type="button" disabled>Previous Page</button>
    </div>
<body>
<div class = "table-container collection">
    <table id="collection-table">
        <thead>
            <tr>
                <th class="nm-col">Name</th>
                <th class="cas-col">CAS</th>
                <th class="vol-col minimise-width ">Volatility</th>
                <th class="use-col maximise-width">Use</th>
                <th class="col-col minimise-width" id = "colour">Colour</th>
                <th class="impt-col" id = 'impression'>Impression</th>
                <th class="date-col minimise-width">Date Added</th>
                <th class="is_col-col minimise-width" id = is>In Collection</th>
                <th class="amount-col minimise-width" id = "amount">Amount</th>
                <th class="edit-col minimise-width">Edit</th>
            </tr>
        </thead>
        <tbody>
            <!-- Rows will be added here by JavaScript -->
        </tbody>
    </table>
</div>
    
    {% compress js %}
    <script src="{% static 'collection/collection.js' %}"></script>
    {% endcompress %}
</body>
{% endblock %}
