{% extends "basic.html"%}
{% load static %}
{% load compress %}
{% block content %}
<button id="prev-page" disabled>Previous Page</button>
<button id="next-page">Next Page</button>
<body>
    <table id="collection-table">
        <thead>
            <tr>
                <th class="nm-col">Name</th>
                <th class="cas-col">CAS</th>
                <th class="vol-col">Volatility</th>
                <th class="use-col">Use</th>
                <th class="amount-col">Amount</th>
                <th class="col-col">Colour</th>
                <th class="impt-col">Impression</th>
                <th class="date-col">Date Added</th>
                <th class="is_col-col">In Collection</th>
            </tr>
        </thead>
        <tbody>
            <!-- Rows will be added here by JavaScript -->
        </tbody>
    </table>
    {% compress js %}
    <script src="{% static 'collection/collection.js' %}?v=1.0.1"></script>
    {% endcompress %}
</body>
{% endblock %}
