{% extends "basic.html" %}
{% load static %}

{% block content %}
<button id="prev-page" disabled>Previous Page</button>
<button id="next-page">Next Page</button>

<body>
<label for="search-input">Search by name:</label>
<input type="text" id="search-input" placeholder="Search by name">
   <button id="search-button">Search</button>
    <button id="clear-search">Clear Search</button>
    <table id="ingredients-table">
        <thead>
            <tr>
                <th class="add-to-collection-col">Add to Collection</th>
                <th>Name</th>
                <th class="cas-col">CAS</th>
                <th class="type-col">Type</th>
                <th class="vol-col">Volatility</th>
                <th>Descriptors</th>
                <th class="use-col">Use</th>
                <th class="rest-col">Restricted</th>
            </tr>
        </thead>
        <tbody>
            <!-- Rows will be added here by JavaScript -->
        </tbody>
    </table>
    <script src={% static 'browse/browse.js' %}></script>
</body>
{% endblock %}