{% extends "basic.html" %}
{% load static %}
{% load compress %}
{% block content %}

<body>
<div class="tools">
    <div id="search-tools">
        <label for="search-input">Find anything</label>
        <input type="text" id="search-input" placeholder="Search by name or CAS">
        <button class="btn btn-primary" id="search-button">Search</button>
        <button class="btn btn-primary" id="clear-search">Clear Search</button>
    </div>
    <div id="paginator">
        <button class="btn btn-primary" id="prev-page" disabled>Previous Page</button>
        <button class="btn btn-primary" id="next-page">Next Page</button>
    </div>
</div>
<div class="table-container browse">
    <table id="ingredients-table">
        <thead>
            <tr>
                <th class="add-to-collection-col">Add to Collection</th>
                <th>Name</th>
                <th class="cas-col">CAS</th>
                <th class="type-col">Type</th>
                <th class="vol-col">Volatility</th>
                <th>Descriptors</th>
                <th class="use-col">Use</th>
                <th class="rest-col">Restricted</th>
            </tr>
        </thead>
        <tbody>
            <!-- Rows will be added here by JavaScript -->
        </tbody>
    </table>
</div>
{% compress js %}
    <script src={% static 'browse/browse.js' %}></script>
{% endcompress %}
</body>
{% endblock %}