<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <title>Ingredients</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Brawler:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href={% static 'ingredients_app/styles.css' %}>
</head>
<button id="prev-page" disabled>Previous Page</button>
<button id="next-page">Next Page</button>
<body>
    <table id="ingredients-table">
        <thead>
            <tr>
                <th class="add-to-collection-col">Add to Collection</th>
                <th>Name</th>
                <th class="cas-col">CAS</th>
                <th class="type-col">Type</th>
                <th class="vol-col">Volatility</th>
                <th>Families</th>
                <th class="use-col">Use</th>
                <th class="rest-col">Restricted</th>
            </tr>
        </thead>
        <tbody>
            <!-- Rows will be added here by JavaScript -->
        </tbody>
    </table>
    <script src={% static 'ingredients_app/index.js' %}></script>
</body>
</html>