{% extends "basic.html" %}

{% block content %}
    <section class="py-4 py-xl-5">
        <div class="container h-100" style="position: relative;top: 30px;bottom: 10px">
            <div class="row h-100">
                <div class="col-md-10 col-xl-8 text-center d-flex d-sm-flex d-md-flex justify-content-center align-items-center mx-auto justify-content-md-start align-items-md-center justify-content-xl-center">
                    <div>
                        <h1 class="big-header">PERFUMERY</h1>
                        <h2 class="text-uppercase fw-bold mb-3">Nothing else.</h2>
                        <p class="mb-4">Browse our database. Add ingredients to your collection. Formulate a revolution.</p>
                        <a href="{% url 'browse:browse' %}" class="btn btn-primary fs-5 me-2 py-2 px-4" role="button">Browse</a>
                        <a href="{% url 'collection:collection' %}" class="btn btn-outline-primary fs-5 py-2 px-4" role="button" style="margin-right: 8px;">Collect</a>
                        <a href="{% url 'formulae:index' %}" class="btn btn-outline-primary fs-5 py-2 px-4" role="button">Formulate</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}