#tools {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 16px 0;
    padding: 16px;
    width: 100%;
    max-width: 1200px;
    background: var(--bs-body-bg);
    border-color: var(--bs-border-color);
}

#buttons {
    display: flex;
    justify-content: flex-start;
}

#search-tools {
    display: flex;
    justify-content: center;
    flex-grow: 1;
}

label[for="search-input"] {
    display: block;
    text-align: center;
    margin: 10px 20px; /* Adjust this value to your preference */
}

#prev-page, #next-page {
    margin-right: 8px;
    margin-bottom: 8px;
    padding: 8px 16px;
    width: auto;
    max-width: 200px;
    background: var(--bs-body-bg);
    border-color: var(--bs-btn-hover-border-color);
    color: var(--bs-btn-hover-border-color);
}

#prev-page:hover, #next-page:hover {
    background: var(--bs-btn-hover-bg);
    border-color: var(--bs-btn-hover-border-color);
    color: var(--bs-btn-hover-color);
}

#prev-page:active, #next-page:active {
    background: var(--bs-btn-active-bg);
    border-color: var(--bs-btn-active-border-color);
    color: var(--bs-btn-active-color);
}
#search-button, #clear-search {
    margin-right: 8px;
    margin-bottom: 8px;
    padding: 8px 16px;
    width: auto;
    max-width: 200px;
    background: var(--bs-body-bg);
    border-color: var(--bs-btn-hover-border-color);
    color: var(--bs-btn-hover-border-color);
}

#search-button:hover, #clear-search:hover {
    background: var(--bs-btn-hover-bg);
    border-color: var(--bs-btn-hover-border-color);
    color: var(--bs-btn-hover-color);
}

#search-button:active, #clear-search:active {
    background: var(--bs-btn-active-bg);
    border-color: var(--bs-btn-active-border-color);
    color: var(--bs-btn-active-color);
}

#search-input {
    margin-right: 8px;
    margin-bottom: 8px;
    padding: 8px 16px;
    width: 50%;
    background: var(--bs-body-bg);
    border-color: var(--bs-btn-hover-border-color);
    color: var(--bs-btn-hover-border-color);
}
