#app {
    display: flex;
    flex-direction: row;
    margin: 3%;
    max-width: 80vw;
    justify-content: center;
    align-items: center;
    background: var(--formula-bg-color);
}

#app #sidebar {
    display: flex;
    flex:33%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--formula-primary-color);
}

#app #main-content {
    flex:67%;
    margin-left: 20px;
    padding: 20px;
    justify-content: center;
    align-items: center;
    overflow: auto;
}

.formula-detail {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.formula-detail-table {
    width: 80%;
    border-collapse: collapse;
}

.ingredient-detail-table {
    width: 80%;
    border-collapse: collapse;
    borer: 1px solid var(--formula-border-color);
}

#app #sidebar #formulae-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

#app #sidebar h1 {
    text-align: center;
}

#app #sidebar li {
    list-style-type: none;
    margin: 10px;
    padding: 10px;
    border: 1px solid var(--formula-border-color);
    background: var(--formula-bg-color);
    color: var(--formula-text-color);
    cursor: pointer;
}

#app #sidebar li:hover {
    background: var(--formula-hover-bg-color);
}

#app #sidebar li::before {
    content: var(--random-emoji);
    margin-right: 10px;
}