#sidebar {
    position: relative;
    width: 100%;
    height: auto;
    overflow: auto; /* This will add a scrollbar when the content is larger than the sidebar */
    display: flex;
    justify-content: center;
    align-items: center;
}

#main-content {
    margin-left: 30vw;
    padding: 20px;
}